
@import url("components/banner.css");

/* Utilities */
body {
  margin: 100;
  color: whitesmoke;
  font-family: font-family: 'Work Sans', sans-serif;
  letter-spacing: 1px;
  background-color: #121888;
}

h1 {
  margin: 30;
  color: whitesmoke;
  font-size: 70px;
  font-family: 'Roboto', sans-serif, regular;
  letter-spacing: 1px;
  background-color: #121888;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
} 

h3, h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #C4C4C4;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  margin: 30;
}

a:hover {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #DFAF1D;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  text-decoration: none;
  color: #F3DCDE;
  margin: 60;
}
/* Custom design below! */