
@import url("components/banner.css");

/* Utilities */
body {
  margin: 50;
  color: whitesmoke;
  font-family: font-family: 'Work Sans', sans-serif;
  background-color: #1A298E;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  color: #C4C4C4;
}

a {
  text-decoration: none;
}

/* Custom design below! */