.my-banner {
  color: #FFFFFF;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
  }

.my-banner > .container > h1 {
  margin: 30px 0 0 0;
  color: whitesmoke;
  font-size: 50px;
  font-family: 'Arimo', sans-serif, bold 700;
  letter-spacing: 1px;
}

.my-banner > .container > p {
  margin-bottom: 30px;
  color: #ffffff;
}